Repository HenkVanMaanen/devbox: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, stylelint, cspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{ts,svelte,css,js,mjs,json,md,yml,yaml,html}'
      run: pnpm exec prettier --check {staged_files}
    eslint:
      glob: '*.{ts,svelte,js,mjs}'
      run: pnpm exec eslint {staged_files}
    stylelint:
      glob: '*.{css,svelte}'
      run: pnpm exec stylelint {staged_files}
    typecheck:
      run: pnpm check:types
    cspell:
      glob: '*.{ts,svelte,js,mjs,md,css}'
      run: pnpm exec cspell --no-progress {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

refactor: remove backward compatibility and deprecated code
  src/lib/utils/cloudinit.ts
  src/lib/utils/storage.ts
  src/pages/CloudInit.svelte
  src/pages/Config.svelte
  tests/cloudinit-custom.test.mjs
  tests/cloudinit.test.mjs
Due: prettier, eslint, stylelint, cspell

feat: add Zod runtime validation for localStorage, API responses, and config import
  AGENTS.md
  cspell.json
  docs/adr/0025-zod-runtime-validation.md
  docs/adr/README.md
  docs/architecture.md
  package.json
  pnpm-lock.yaml
  src/components/ConfigForm.svelte
  src/lib/api/hetzner.ts
  src/lib/stores/config.svelte.ts
  src/lib/stores/credentials.svelte.ts
  src/lib/stores/profiles.svelte.ts
  src/lib/stores/servers.svelte.ts
  src/lib/stores/theme.svelte.ts
  src/lib/types.ts
  src/lib/utils/storage.ts
  src/lib/utils/validation.ts
  src/pages/Config.svelte
  tests/schemas.test.mjs
Due: prettier, eslint, stylelint, cspell

fix: use JSON clone instead of structuredClone for Svelte 5 proxy compatibility
  src/lib/utils/storage.ts
Due: prettier, eslint, cspell

fix: reorder release workflow so changelog is committed before build
  .github/workflows/release.yml
Due: prettier

fix: generate changelog in deploy workflow for correct builds
  .github/workflows/deploy.yml
Due: prettier

test: add unit tests and Stryker mutation testing
  .gitignore
  cspell.json
  eslint.config.js
  knip.json
  package.json
  pnpm-lock.yaml
  src/lib/utils/cloudinit-builders.ts
  src/lib/utils/names.ts
  src/lib/utils/validation.ts
  stryker.config.json
  tests/cloudinit-builders.test.mjs
  tests/names.test.mjs
  tests/storage.test.mjs
  tests/validation-extract.test.mjs
Due: prettier, eslint, cspell

docs: update AGENTS.md with coverage and mutation testing commands
  AGENTS.md
Due: prettier, cspell

test: add hetzner API and Svelte store tests, expand mutation testing
  cspell.json
  eslint.config.js
  knip.json
  package.json
  pnpm-lock.yaml
  src/lib/stores/config.svelte.ts
  src/lib/stores/servers.svelte.ts
  src/lib/stores/theme.svelte.ts
  src/lib/utils/cloudinit.ts
  src/lib/utils/storage.ts
  src/lib/utils/swr-cache.ts
  stryker.config.json
  tests/hetzner.test.mjs
  tests/vitest/config.test.ts
  tests/vitest/credentials.test.ts
  tests/vitest/profiles.test.ts
  tests/vitest/servers.test.ts
  tests/vitest/theme.test.ts
  tests/vitest/toast.test.ts
  vitest.config.ts
Due: prettier, eslint, cspell

docs: update AGENTS.md for vitest and lower function coverage to 95%
  AGENTS.md
  package.json
Due: prettier, cspell

test: migrate to vitest, replace custom YAML serializer, improve mutation score
  .gitignore
  .npmrc
  AGENTS.md
  cspell.json
  eslint.config.js
  knip.json
  package.json
  pnpm-lock.yaml
  src/lib/stores/config.svelte.ts
  src/lib/stores/servers.svelte.ts
  src/lib/utils/cloudinit-builders.ts
  src/lib/utils/cloudinit.ts
  src/lib/utils/names.ts
  src/lib/utils/swr-cache.ts
  src/lib/utils/validation.ts
  stryker.config.json
  tests/names.test.mjs
  tests/swr-cache.test.mjs
  tests/validation-extract.test.mjs
  tests/vitest/cloudinit-builders-extra.test.ts
  tests/vitest/cloudinit-builders.test.ts
  tests/vitest/cloudinit-custom.test.ts
  tests/vitest/cloudinit-yaml.test.ts
  tests/vitest/cloudinit.test.ts
  tests/vitest/hetzner.test.ts
  tests/vitest/names.test.ts
  tests/vitest/schemas.test.ts
  tests/vitest/servers-extra.test.ts
  tests/vitest/storage.test.ts
  tests/vitest/swr-cache.test.ts
  tests/vitest/validation-extract.test.ts
  tests/vitest/validation.test.ts
  vitest.config.ts
Due: prettier, eslint, cspell

refactor: replace vendored QR code and name generator with npm packages, extract clipboard utility
  cspell.json
  eslint.config.js
  knip.json
  package.json
  pnpm-lock.yaml
  src/components/ServerCard.svelte
  src/lib/utils/clipboard.ts
  src/lib/utils/names.ts
  src/lib/utils/qrcode.ts
  src/pages/CloudInit.svelte
  src/vite-env.d.ts
  stryker.config.json
  tests/vitest/clipboard.test.ts
  tests/vitest/names.test.ts
  tests/vitest/qrcode.test.ts
  vitest.config.ts
Due: prettier, eslint, stylelint, cspell

fix: replace qrcode-svg with uqr to avoid CSP eval violation
  cspell.json
  package.json
  pnpm-lock.yaml
  src/lib/utils/qrcode.ts
  src/vite-env.d.ts
Due: prettier, eslint, cspell

test: add e2e, component, property-based, and security tests
  .gitignore
  .jscpd.json
  cspell.json
  eslint.config.js
  knip.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/a11y.spec.ts
  tests/e2e/config.spec.ts
  tests/e2e/credentials.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/profiles.spec.ts
  tests/e2e/theme.spec.ts
  tests/vitest/components/a11y.test.ts
  tests/vitest/components/button.test.ts
  tests/vitest/components/input.test.ts
  tests/vitest/components/modal.test.ts
  tests/vitest/components/toast.test.ts
  tests/vitest/property-based.test.ts
  tests/vitest/security.test.ts
  tests/vitest/servers-extra.test.ts
  vitest.config.ts
Due: prettier, eslint, cspell

fix: harden config paths and align ci docs
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  README.md
  docs/security.md
  index.html
  knip.json
  package.json
  pnpm-lock.yaml
  src/components/Nav.svelte
  src/lib/stores/profiles.svelte.ts
  src/lib/types.ts
  src/lib/utils/path-safety.ts
  src/lib/utils/storage.ts
  src/pages/Dashboard.svelte
  tests/vitest/schemas.test.ts
  tests/vitest/security.test.ts
  tests/vitest/storage.test.ts
Due: prettier, eslint, stylelint, cspell

fix: setup pnpm before node cache in release workflow
  .github/workflows/release.yml
Due: prettier

fix: open overview page service links in new tab
  src/lib/utils/cloudinit-builders.ts
  tests/vitest/cloudinit-builders-extra.test.ts
Due: prettier, eslint, cspell

feat: pre-warm SSL certs after Caddy is ready
  src/lib/utils/cloudinit-builders.ts
  tests/vitest/cloudinit-builders-extra.test.ts
Due: prettier, eslint, cspell

fix: filter base images by selected server type architecture
  src/components/ConfigForm.svelte
  src/lib/stores/servers.svelte.ts
  src/lib/types.ts
  tests/vitest/hetzner.test.ts
Due: prettier, eslint, stylelint, cspell

feat: extract daemon and overview page into separate packages
  .gitignore
  .jscpd.json
  .prettierignore
  cspell.json
  eslint.config.js
  knip.json
  package.json
  packages/daemon/build.ts
  packages/daemon/package.json
  packages/daemon/src/daemon.ts
  packages/daemon/tsconfig.json
  packages/overview/build.ts
  packages/overview/package.json
  packages/overview/src/index.html
  packages/overview/src/script.ts
  packages/overview/src/style.css
  packages/overview/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/lib/utils/cloudinit-builders.ts
  src/lib/utils/cloudinit.ts
  tests/vitest/cloudinit-builders-extra.test.ts
  tests/vitest/cloudinit-yaml.test.ts
  tests/vitest/security.test.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: prettier, eslint, stylelint, cspell

fix: build packages before running checks
  package.json
Due: prettier

fix: use mtimeMs for idle detection to prevent false activity
  packages/daemon/src/daemon.ts
Due: prettier, eslint, cspell

fix: accept null defaultProfileId in config import
  src/pages/Config.svelte
Due: prettier, eslint, stylelint, cspell

feat: add Cloudflare DNS auto-update and fixed SSH host key
  cspell.json
  package.json
  pnpm-lock.yaml
  src/components/ConfigForm.svelte
  src/components/ServerCard.svelte
  src/lib/stores/config.svelte.ts
  src/lib/types.ts
  src/lib/utils/cloudinit-builders.ts
  src/lib/utils/cloudinit.ts
  src/lib/utils/ssh-keygen.ts
  tests/vitest/cloudinit-builders-extra.test.ts
  tests/vitest/cloudinit-builders.test.ts
  tests/vitest/cloudinit-custom.test.ts
  tests/vitest/cloudinit-yaml.test.ts
  tests/vitest/cloudinit.test.ts
  tests/vitest/schemas.test.ts
  tests/vitest/security.test.ts
  tests/vitest/ssh-keygen.test.ts
Due: prettier, eslint, stylelint, cspell

feat: snapshot server before auto-delete and restore from snapshot
  packages/daemon/src/daemon.ts
  src/lib/api/hetzner.ts
  src/lib/utils/cloudinit.ts
  src/pages/Dashboard.svelte
Due: prettier, eslint, stylelint, cspell

fix: improve snapshot-before-delete reliability
  packages/daemon/src/daemon.ts
  src/lib/utils/cloudinit.ts
  src/pages/Dashboard.svelte
  tests/vitest/cloudinit-builders-extra.test.ts
Due: prettier, eslint, stylelint, cspell

fix: cloud-init write_files crash due to owner root:dev
  src/lib/utils/cloudinit.ts
Due: prettier, eslint, cspell

fix: skip snapshot restore when disk size exceeds server type
  src/lib/types.ts
  src/pages/Dashboard.svelte
  tests/vitest/hetzner.test.ts
Due: prettier, eslint, stylelint, cspell

Revert "fix: skip snapshot restore when disk size exceeds server type"
  src/lib/types.ts
  src/pages/Dashboard.svelte
  tests/vitest/hetzner.test.ts
Due: prettier, eslint, stylelint, cspell

fix: accept null image name from Hetzner snapshot API
  src/lib/types.ts
Due: prettier, eslint, cspell

feat: replace basic auth with Authelia forward auth
  cspell.json
  docs/adr/0026-authelia-forward-auth.md
  docs/adr/README.md
  docs/architecture.md
  docs/security.md
  docs/user-guide.md
  package.json
  packages/daemon/src/daemon.ts
  packages/overview/src/index.html
  packages/overview/src/script.ts
  pnpm-lock.yaml
  src/components/ConfigForm.svelte
  src/components/ServerCard.svelte
  src/lib/data/options.ts
  src/lib/stores/config.svelte.ts
  src/lib/stores/servers.svelte.ts
  src/lib/types.ts
  src/lib/utils/cloudinit-builders.ts
  src/lib/utils/cloudinit.ts
  src/lib/utils/storage.ts
  src/pages/Config.svelte
  src/pages/Dashboard.svelte
  tests/vitest/authelia.test.ts
  tests/vitest/cloudinit-builders-extra.test.ts
  tests/vitest/cloudinit-builders.test.ts
  tests/vitest/cloudinit-custom.test.ts
  tests/vitest/cloudinit-yaml.test.ts
  tests/vitest/cloudinit.test.ts
  tests/vitest/schemas.test.ts
  tests/vitest/security.test.ts
  tests/vitest/servers-extra.test.ts
  tests/vitest/servers.test.ts
  tests/vitest/storage.test.ts
Due: prettier, eslint, stylelint, cspell

feat: add guest access with magic links and time limits
  cspell.json
  packages/daemon/src/daemon.ts
  packages/overview/src/index.html
  packages/overview/src/script.ts
  src/lib/utils/cloudinit-builders.ts
  src/lib/utils/cloudinit.ts
  tests/vitest/authelia.test.ts
  tests/vitest/cloudinit-builders.test.ts
Due: prettier, eslint, cspell

feat: add toast notifications for guest copy link and revoke
  packages/overview/src/script.ts
Due: prettier, eslint, cspell

feat: add snapshot lifecycle hooks for session persistence
  packages/daemon/src/daemon.ts
  src/lib/utils/cloudinit.ts
Due: prettier, eslint, cspell

fix: improve idle detection and fix cloud-init write_files failure
  packages/daemon/src/daemon.ts
  src/lib/utils/cloudinit.ts
Due: prettier, eslint, cspell

fix: delete stale Authelia database on snapshot boot
  src/lib/utils/cloudinit.ts
Due: prettier, eslint, cspell

fix: preserve SSH host key on snapshot boot
  src/lib/utils/cloudinit.ts
Due: prettier, eslint, cspell

fix: update stale configs on snapshot boot
  src/lib/utils/cloudinit.ts
  src/pages/Dashboard.svelte
Due: prettier, eslint, stylelint, cspell

fix: update sslip.io nameservers to current values
  src/components/ConfigForm.svelte
Due: prettier, eslint, stylelint, cspell

feat: add first-use setup wizard and improve guidance text
  src/App.svelte
  src/components/ConfigForm.svelte
  src/lib/stores/setup.svelte.ts
  src/lib/utils/storage.ts
  src/pages/Credentials.svelte
  src/pages/Dashboard.svelte
  src/pages/Setup.svelte
  tests/vitest/setup.test.ts
Due: prettier, eslint, stylelint, cspell
